{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "no-unused-vars": [1, { "argsIgnorePattern": "res|next|^err" }],
    "arrow-body-style": [2, "as-needed"],
    "no-param-reassign": [2, { "props": false }],
    "no-console": 1,
    "func-names": 0,
    "consistent-return": 0,
    "linebreak-style": 0,
    "max-len": 0,
    "comma-dangle": 0,
    "quotes": 0
  },
  "plugins": []
}