extends layout

block content
  //- h2= TRANSLATION.ABOUTUS_MSG
  .about__us
    h2 About us
    p Shenzhen Zhaopeng Technology Co., Ltd (2008 founded) is a high-tech enterprise specializing in the production of LED lighting, which is subsidiary of New Sunshine Manufacturing Co., Ltd (2004 founded). Products cover LED corn bulbs, LED tube, panel light, street lamp (widely use as warehouse, office, factory, commercial area, government project and indoor lighting etc.)
    .tip.tip-right
      p You can find our company on&nbsp;
        a(href="#") Google Business
    blockquote
      p "Tech innovation, quality first"
    p We also developed only for American fixtures such as shoe case, wall pack, canopy & garage lighting, parking lot etc. 'Tech innovation, quality first' is our constant commitment to customers. All products comply with the requirements of ISO 9001:2008, passed European certificates of CE, ROHS, TUV and VDE, also American certificates of UL DLC.
    figure
      img(src="https://source.unsplash.com/1000x300", alt="img")
      figcaption Super Nice Photo
    .tip.tip-left
      p You are welcome to visit our warehouse at&nbsp;
        a(href="#") CA
      p Or just send us a&nbsp;
        a(href="#") Query
    p New Sunshine becomes the first LED corn bulbs manufacturer in China. We have all patents in mainland China, EU, the United States. As company's registered trademark, "NS" enjoyed high reputation in led fields, and especially favored American customers. In order to better serve the overseas market,at the end of 2015, our company established the warehouse and after-sale service in Los Angeles, USA.
    blockquote
      p "Becoming the LED leading enterprises around the world"
    p We always uphold the "Faithfulness, mutual benefit", "Business philosophy , passion innovation" and "Pragmatic progressive, development attitude", marching towards the ambition of "becoming the LED leading enterprises around the world"!
    blockquote
      p - NEW SUNSHINE TEAM
    //- figure
    //-   img(src="https://source.unsplash.com/1000x500", alt="img")
    //-   figcaption Super Nice Photo
  .about__video
    h2 A introduction to New Sunshine
    .about__video-wrapper
      iframe(width="560" height="315" src="https://www.youtube.com/embed/TRs451UQfuE", frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
