extends layout

block content
  .content
    //- h2= TRANSLATION.ABOUTUS_MSG
    .about__us
      h2 About us
      p Shenzhen Zhaopeng Technology Co., Ltd/Dongguan Zhaopeng Lighting technology Co.,Ltd (2008 founded) is a state level  high-tech enterprise specializing in the production of LED lighting, which is subsidiary of New Sunshine  (2004 founded). Products cover LED corn bulbs, E26/27 & E39/40 base retrofit kits, smart LED lighting, commercial lighting,street lamp (widely use as warehouse, office, factory, commercial area, government project and residential  lighting etc.)We also developed only for American fixtures such as in shoe case, wall pack, canopy & garage lighting, parking lot etc.
      .tip.tip-right
        img(src="/images/photos/about-us_01.jpg", alt="New Sunshine Lighting")
        p You can find our company on&nbsp;
          a(href="https://www.google.com/search?ludocid=2470119873140755736&q=New%20Sunshine%20Energy%20Solutions%20Inc%2013321%20Garden%20Grove%20Boulevard%20Garden%20Grove%2C%20California%2092843&_ga=2.96564570.433189582.1529941904-1148537172.1526921157#fpstate=lie" target="_blank") Google Business
      blockquote
        p 'Tech innovation, quality first'<br/>is our constant commitment to customers.
      .tip.tip-left
        .query__btn
          | Query
      p All products comply with the requirements of ISO 9001:2008, passed European certificates of CE, ROHS, TUV and VDE, also American certificates of UL.,ETL & DLC.
      figure
        img(src="/images/photos/about-us_02.jpg", alt="img")
        figcaption This is our warehouse at CA
      p New Sunshine lighting becomes the first LED corn bulbs manufacturer in China. We have all patents in mainland China, EU, the United States. As company's registered trademark, "NS" enjoyed high reputation in led fields, and especially favored American customers. In order to better serve the overseas market,at the end of 2015, our company established the warehouse and after-sale service in Los Angeles, USA.
      .tip.tip-right
        p Welcome to visit our warehouse at here, click the image below
        p
          a(href="https://maps.google.com/maps?cid=2470119873140755736&_ga=2.159979896.433189582.1529941904-1148537172.1526921157" target="_blank")
            img(src="/images/photos/about-us_03.png", alt="")
      blockquote
        p "Becoming the LED leading enterprises around the world"
      p We always uphold the "Faithfulness, mutual benefit", "Business philosophy , passion innovation" and "Pragmatic progressive, development attitude", marching towards the ambition of "becoming the LED leading enterprises around the world"!
      blockquote
        p - New Sunshine Team
      //- figure
      //-   img(src="https://source.unsplash.com/1000x500", alt="img")
      //-   figcaption Super Nice Photo
    .about__video
      h2 An introduction to New Sunshine
      .about__video-wrapper
        iframe(width="560" height="315" src="https://www.youtube.com/embed/TRs451UQfuE", frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
