extends layout

include mixins/_pswp
include mixins/_certificateCard

block content
  .content
    +pswp()
    //- .support__banner
      .banner
    .certificates
      h2= title
      each certificate in certificates
        +certificateCard(certificate)
