extends layout

block content
  .content
    .contact
      h2= title
      p We'd love to hear from you. Call us or just send us an email. If you want further information about us and our products, welcome to visit our warehouse or factory.
      .contact__area
        .contact__us
          .map
            #map
              p Loading Map...
          .contact__title
            h3 Warehouse Address
            p 13321 Garden Grove Blvd, #N
            p Garden Grove, CA 92843
            p
              span Email:&nbsp;
              a(href="mailto:robert@nssled.com") robert@nssled.com
            p
              span Phone:&nbsp;
              a(href="tel:+1 201 969 5019") +1 201 969 5019 (Robert)
            p
              span Phone:&nbsp;
              a(href="tel:+1 323 616 7060") +1 323 616 7060 (Lyna)
            .contact__btn
              a.query__btn= TRANSLATION.SEND_EMAIL
            //- .contact__img
              img(src="/images/photos/contact_warehouse.jpg", alt="warehouse")
        .contact__cn
          .map
            #map-2
              p Loading Map...
          .contact__title
            h3 Factory Address
            p 4/F, Block D, Dejiarun industrial park, 128 indstrial zone
            p Tangxia, Dongguan, Guangdong Province, P.R.China
            p
              span Email:&nbsp;
              a(href="mailto:order@newsunshine.net") order@newsunshine.net
            p
              span Tel:&nbsp;
              a(href="tel:+86 769 8800 4885") +86 769 8800 4885
            p
              span Tel:&nbsp;
              a(href="tel:+86 138 2658 8764") +86 138 2658 8764
            .contact__btn
              a.query__btn= TRANSLATION.SEND_EMAIL
            //- .contact__img
              img(src="/images/photos/contact_factory.jpg", alt="warehouse")

    .about__video
      h2 Our new waterproof garden light
      .about__video-wrapper
        iframe(width="560" height="315" src="https://www.youtube.com/embed/Els_pJrIDsw", frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
