extends layout

block content
  .map
    #map
      p Loading Map...

  .inner
    //- h2= TRANSLATION.CONTACT_MSG
    .contact__title
      h2 Welcome to visit our factory or warehouse or&nbsp;
        a.query__btn Send a Email
    .contact__region
      .contact__region__us
        h2 USA
        .contact__region__cities
          .contact__region__city
            h2 13321 Garden Grove Blvd, #N, Garden Grove, CA 92843
            .contact__region__person
              h3 Robert
              a(href=`mailto:robert@nssled.com`) robert@nssled.com
              p
                span Tel.&nbsp;
                | +1 201 969 5019
              p
                span Skype&nbsp;
                | +1 201 969 5019
      .contact__region__cn
        h2 CHINA
        .contact__region__cities
          .contact__region__city
            h2 4/F, Block D, Dejiarun industrial park, 128 indstrial zone, Tangxia, Dongguan, Guangdong Province
            .contact__region__person
              h3 Lyna
              a(href=`mailto:lyna@nssled.com`) lyna@nssled.com
              p
                span Tel.&nbsp;
                | +1 323 616 7060
              p
                span Skype&nbsp;
                | +1 323 616 7060
