extends layout

include mixins/_pswp

block content
  .slideshow
    .slide.fade
      img(src="/images/photos/banner-0902-01.jpg")
      //- .slide__caption Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    .slide.fade
      img(src="/images/photos/banner-0902-03.jpg")
      //- .slide__caption Lorem ipsum dolor sit.
    .slide.fade
      img(src="/images/photos/banner-0902-01.jpg")
      //- .slide__caption Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quibusdam!
    .slide.fade
      img(src="/images/photos/banner-0902-03.jpg")
      //- .slide__caption Lorem ipsum dolor sit amet consectetur.
    //- .slide.fade
    //-   img(src="/images/photos/photo-1520320142774-5381578416fa.jpg")
    //-   .slide__caption Lorem ipsum dolor sit amet consectetur adipisicing elit.
    //- a.prev
    //-   i.fa.fa-angle-left
    //- a.next
    //-   i.fa.fa-angle-right
    .dots
      .dot
      .dot
      .dot
      .dot
      //- .dot
  .content
    +pswp()
    .intro
      .intro__cornlight
        h1 Features & Benefits
        p For Commercial & Residential Use
        .inner-2
          img(src="/images/photos/bg-box-001.jpg", alt="")
          .intro__cornlight__desc
            h2 Affordable
            p Prices of the New Sunshine LED corn bulbs have come down to an affordable level price where it can most projects to make the switch it.
          .intro__cornlight__desc
            h2 Green without mercury
            p Mercury is classified as a poison to humans, when disposed of improperly, it harmful to our health, New Sunshine LED light bulbs do not contain any mercury.
          .intro__cornlight__desc
            h2 80% Energy Save
            p The New Sunshine LED corn bulbs consumes 80-85% less energy than incandescent lamp and high voltage sodium lamp.
          .intro__cornlight__desc
            h2 Green and recyclable
            p New sunshine products do not contain any harmful substances, when the LED light bulb reaches its end of life simply toss it in the recycling bucket,Unlike traditional fluorescent lamp, need special treatment.
          .intro__cornlight__desc
            h2 Long lifespan, over 50,000 hours
            p The New Sunshine LED corn bulb is tested to last 50,000 hours , if lighting 3 hours a day the New Sunshine LED lamp can last up to 31 years.
          .intro__cornlight__desc
            h2 Product quality assurance
            p We have 8 Product certificates,With rights to import more than 80 countries and win thousands of companies trust.
      .intro__company
        h1 New sunshine
        .inner-2
          //- h2= TRANSLATION.HOME_MSG
          //- p It's #{h.moment().format('MMMM Do YYYY, h:mm:ss a')}
          //- p New Sunshine LED (New Sunshine Manufacturing Co.,Ltd) was founded in 2004, we specialize in application of LED light technology for indoor-outdoor development and manufacture for illumination, such as LED street light, LED warehouse light, LED high bay light, LED corn bulb, LED flood light, LED tunnel light and other outdoor and indoor lights.
          p New Sunshine Lighting Inc. base in Los Angeles of USA. Our factory is base in Shenzhen & Dongguan of China. Our products cover LED corn bulbs, E26/27 & E39/40 base retrofit kits, smart LED lighting, commercial lighting, street lamp (widely use as warehouse, office, factory, commercial area, government project and residential lighting etc.)
          p
            a(href="/about-us") Read more
            span or
            a(href="/contact") Contact us
          //- .intro__company-gallery(itemscope itemtype="http://schema.org/ImageGallery")
          //-   figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
          //-     a(href="/images/photos/1-15051322364D42.jpg" itemprop="contentUrl" data-size="780x522")
          //-       img(src="/images/photos/1-15051322364D42.jpg" itemprop="thumbnail" alt="Img")
          //-       .intro__company__img(style="background: url(/images/photos/1-15051322364D42.jpg);")
          //-     h2 Street
          //-     figcaption(itemprop="caption description") Street
          //-   figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
          //-     a(href="/images/photos/1-150513224519222.jpg" itemprop="contentUrl" data-size="800x600")
          //-       img(src="/images/photos/1-150513224519222.jpg" itemprop="thumbnail" alt="Img")
          //-       .intro__company__img(style="background: url(/images/photos/1-150513224519222.jpg);")
          //-     h2 Parking lot
          //-     figcaption(itemprop="caption description") Parking lot
          //-   figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
          //-     a(href="/images/photos/1-151223101KYV.jpg" itemprop="contentUrl" data-size="800x600")
          //-       img(src="/images/photos/1-151223101KYV.jpg" itemprop="thumbnail" alt="Img")
          //-       .intro__company__img(style="background: url(/images/photos/1-151223101KYV.jpg);")
          //-     h2 Lobby
          //-     figcaption(itemprop="caption description") Lobby
          //-   figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
          //-     a(href="/images/photos/1-150513221F5209.jpg" itemprop="contentUrl" data-size="780x715")
          //-       img(src="/images/photos/1-150513221F5209.jpg" itemprop="thumbnail" alt="Img")
          //-       .intro__company__img(style="background: url(/images/photos/1-150513221F5209.jpg);")
          //-     h2 and more
          //-     figcaption(itemprop="caption description") and more
          //-   figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
          //-     a(href="/images/photos/products.jpg" itemprop="contentUrl" data-size="1920x1080")
          //-       img(src="/images/photos/products.jpg" itemprop="thumbnail" alt="Img")
          //-     figcaption(itemprop="caption description") and more
          //-   figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
          //-     a(href="/images/photos/projects.jpg" itemprop="contentUrl" data-size="1920x1080")
          //-       img(src="/images/photos/projects.jpg" itemprop="thumbnail" alt="Img")
          //-     figcaption(itemprop="caption description") and more
      .intro__products
        .inner-2
          h2 3-5 years warranty
          p We specialize in applications of LED light technology for indoor-outdoor development and manufacturer for illumination, such as LED street light, LED warehouse light, LED high bay light, LED corn bulb, LED flood light, LED tunnel light and other lights.
          .intro__product
            .intro__product-gallery(itemscope itemtype="http://schema.org/ImageGallery")
              figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/GLA60W-04_800x800.jpg" itemprop="contentUrl" data-size="800x800")
                  img(src="/images/photos/GLA60W-04_800x800.jpg" itemprop="thumbnail" alt="Img")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/GLA60W-02_800x800.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/GLA60W-02_800x800.jpg" itemprop="thumbnail" alt="Img")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/GLA60W-03_800x800.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/GLA60W-03_800x800.jpg" itemprop="thumbnail" alt="Img")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/GLA60W-01_800x800.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/GLA60W-01_800x800.jpg" itemprop="thumbnail" alt="Img")
                figcaption(itemprop="caption description") 123
            article
              .intro__product__title
                h2 NS 20W-60W GARDEN LIGHT
              .intro__product__detail
                p 360 degree beam angle
                p Widely replace the CFL/MH/HID/HPS
                p No RF interference, no IR/UV radiation, no mercury pollution
              a(href="/product/ns-20w-60w-garden-light") More
          .intro__product
            .intro__product-gallery(itemscope itemtype="http://schema.org/ImageGallery")
              figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/WLC200W-01_800x800.jpg" itemprop="contentUrl" data-size="800x800")
                  img(src="/images/photos/WLC200W-01_800x800.jpg" itemprop="thumbnail" alt="Img")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/WLC200W-02_800x800.jpg" itemprop="contentUrl" data-size="800x800")
                  img(src="/images/photos/WLC200W-02_800x800.jpg" itemprop="thumbnail" alt="Img")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/WLC200W-03_800x800.jpg" itemprop="contentUrl" data-size="800x800")
                  img(src="/images/photos/WLC200W-03_800x800.jpg" itemprop="thumbnail" alt="Img")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/WLC200W-04_800x800.jpg" itemprop="contentUrl" data-size="800x800")
                  img(src="/images/photos/WLC200W-04_800x800.jpg" itemprop="thumbnail" alt="Img")
                figcaption(itemprop="caption description") 123
            article
              .intro__product__title
                h2 NS 80W-200W CORN LIGHT
              .intro__product__detail
                p Dust and water proof, IP64
                p Super high lumen, up to 150LM/W
                p Superior heat dissipation
              a(href="/product/ns-80w-200w-corn-light") More
          .intro__product
            .intro__product-gallery(itemscope itemtype="http://schema.org/ImageGallery")
              figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/WL150W-01_800x800.jpg" itemprop="contentUrl" data-size="800x800")
                  img(src="/images/photos/WL150W-01_800x800.jpg" itemprop="thumbnail" alt="Img")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/WL150W-02_800x800.jpg" itemprop="contentUrl" data-size="800x800")
                  img(src="/images/photos/WL150W-02_800x800.jpg" itemprop="thumbnail" alt="Img")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/WL150W-03_800x800.jpg" itemprop="contentUrl" data-size="800x800")
                  img(src="/images/photos/WL150W-03_800x800.jpg" itemprop="thumbnail" alt="Img")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/WL150W-04_800x800.jpg" itemprop="contentUrl" data-size="800x800")
                  img(src="/images/photos/WL150W-04_800x800.jpg" itemprop="thumbnail" alt="Img")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/WL150W-05_800x800.jpg" itemprop="contentUrl" data-size="800x800")
                  img(src="/images/photos/WL150W-05_800x800.jpg" itemprop="thumbnail" alt="Img")
                figcaption(itemprop="caption description") 123
            article
              .intro__product__title
                h2 NS 80W-150W CORN LIGHT
              .intro__product__detail
                p Unique structure design, removable power supply and light source
                p No UV and near-IR radiation
                p Very low energy consumption
              a(href="/product/ns-80w-150w-corn-light") More
          //- .intro__product
            .intro__product-gallery(itemscope itemtype="http://schema.org/ImageGallery")
              figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/Resources-3.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/Resources-3.jpg" itemprop="thumbnail" alt="Img")
                  //- .intro__product__img(style="background: url(/images/photos/Resources-3.jpg)")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/Resources-3.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/Resources-3.jpg" itemprop="thumbnail" alt="Img")
                  //- .intro__product__img(style="background: url(/images/photos/Resources-3.jpg)")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/Resources-3.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/Resources-3.jpg" itemprop="thumbnail" alt="Img")
                  //- .intro__product__img(style="background: url(/images/photos/Resources-3.jpg)")
                figcaption(itemprop="caption description") 123s
            article
              .intro__product__title
                h2 More
              .intro__product__detail
                p 123123123
              a(href="#") More
      .intro__certificates
        h2 Our Certificates
        .intro__certificates__link
          a(href="/certificates")
            img(src="/images/photos/certificates.png", alt="certificate")
    .quote
      .inner
        p.one "Tech innovation, quality first"
        p.two is always our constant commitment to customers.

