extends layout

include mixins/_pswp

block content
  .content
    .slideshow
      .slide.fade
        img(src="/images/photos/banner-0623-01.jpg")
        //- .slide__caption Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      .slide.fade
        img(src="/images/photos/banner-0902-01.jpg")
        //- .slide__caption Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quibusdam!
      .slide.fade
        img(src="/images/photos/banner-0623-02.jpg")
        //- .slide__caption Lorem ipsum dolor sit.
      .slide.fade
        img(src="/images/photos/banner-0902-03.jpg")
        //- .slide__caption Lorem ipsum dolor sit amet consectetur.
      //- .slide.fade
      //-   img(src="/images/photos/photo-1520320142774-5381578416fa.jpg")
      //-   .slide__caption Lorem ipsum dolor sit amet consectetur adipisicing elit.
      //- a.prev
      //-   i.fa.fa-angle-left
      //- a.next
      //-   i.fa.fa-angle-right
      .dots
        .dot
        .dot
        .dot
        .dot
        //- .dot

    .intro
      .intro__company-wrapper
        h1 New sunshine
        .intro__company
          //- p New Sunshine LED (New Sunshine Manufacturing Co.,Ltd) was founded in 2004, we specialize in application of LED light technology for indoor-outdoor development and manufacture for illumination, such as LED street light, LED warehouse light, LED high bay light, LED corn bulb, LED flood light, LED tunnel light and other outdoor and indoor lights.
          p New Sunshine Lighting Inc. base in Los Angeles of USA. Our factory is base in Shenzhen & Dongguan of China. Our products cover LED corn bulbs, E26/27 & E39/40 base retrofit kits, smart LED lighting, commercial lighting, street lamp (widely use as warehouse, office, factory, commercial area, government project and residential lighting etc.)
          .intro__company__button
            a(href="/about-us") Read more
            span or
            a(href="/contact") Contact us
      .intro__products-wrapper
        .intro__products
          h2 3-5 years warranty
          .intro__product-wrapper
            .intro__product
              .intro__product__img
                img(src="/images/photos/intro_products_01.png", alt="")
              .intro__product__detail
                h2 LED Corn Light
                p For Commercial & residential use, easy to install, from 6w to 200w, high lumens.
              .intro__product__link
                a(href="/products/LED Corn Light")
                  span more
                  i.fas.fa-chevron-right
            .intro__product
              .intro__product__img
                img(src="/images/photos/intro_products_02.png", alt="")
              .intro__product__detail
                h2 LED Garden Light
                p Unique design, 360 beam angle, widely replace the CFL/MH/HID/HPS.
              .intro__product__link
                a(href="/products/LED Garden Light")
                  span more
                  i.fas.fa-chevron-right
            .intro__product
              .intro__product__img
                img(src="/images/photos/intro_products_03.png", alt="")
              .intro__product__detail
                h2 LED Retrofit Kit
                p 340 degree wide-angle lamp holder. Isolated constant current power supply.
              .intro__product__link
                a(href="/products/LED Retrofit Kit")
                  span more
                  i.fas.fa-chevron-right
            .intro__product
              .intro__product__img
                img(src="/images/photos/intro_products_GLA-U-D.png", alt="")
              .intro__product__detail
                h2 LED Garden Light
                p No fan design, D Style widely used in post top fixture, U Style widely used in Canopy fixture.
              .intro__product__link
                a(href="/products/LED Garden Light")
                  span more
                  i.fas.fa-chevron-right
            .intro__product
              .intro__product__img
                img(src="/images/photos/intro_products_ACL02.png", alt="")
              .intro__product__detail
                h2 LED Corn Light
                p No fan design, For Commercial & residential use, easy to install, from 6w to 200w, high lumens.
              .intro__product__link
                a(href="/products/LED Corn Light")
                  span more
                  i.fas.fa-chevron-right      
      .intro__certificates
        h2 Our Certificates
        .intro__certificates__link
          a(href="/support/certificates")
            img(src="/images/photos/certificates.png", alt="certificate")

    .quote
      p.one "Tech innovation, quality first"
      p.two is always our constant commitment to customers.

