extends layout

block content
  .slideshow
    .slide.fade
      img(src="/images/photos/18-28-25-60-1.jpg")
      .slide__caption Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    .slide.fade
      img(src="/images/photos/1-150G61G51c25.jpg")
      .slide__caption Lorem ipsum dolor sit.
    .slide.fade
      img(src="/images/photos/1-150513223F9244.jpg")
      .slide__caption Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quibusdam!
    .slide.fade
      img(src="/images/photos/1-150912114H3510.jpg")
      .slide__caption Lorem ipsum dolor sit amet consectetur.
    //- .slide.fade
    //-   img(src="/images/photos/photo-1520320142774-5381578416fa.jpg")
    //-   .slide__caption Lorem ipsum dolor sit amet consectetur adipisicing elit.
    //- a.prev
    //-   i.fa.fa-angle-left
    //- a.next
    //-   i.fa.fa-angle-right
    .dots
      .dot
      .dot
      .dot
      .dot
      //- .dot
  .content
    .intro
      .intro__company
        h2 New sunshine
        .inner-2
          //- h2= TRANSLATION.HOME_MSG
          //- p It's #{h.moment().format('MMMM Do YYYY, h:mm:ss a')}
          p New Sunshine LED (New Sunshine Manufacturing Co.,Ltd) was founded in 2004, we specialize in application of LED light technology for indoor-outdoor development and manufacture for illumination, such as LED street light, LED warehouse light, LED high bay light, LED corn bulb, LED flood light, LED tunnel light and other outdoor and indoor lights.
          .intro__company-gallery(itemscope itemtype="http://schema.org/ImageGallery")
            figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
              a(href="/images/photos/1-15051322364D42.jpg" itemprop="contentUrl" data-size="1920x1080")
                img(src="/images/photos/1-15051322364D42.jpg" itemprop="thumbnail" alt="Img")
                .intro__company__img(style="background: url(/images/photos/1-15051322364D42.jpg);")
              h2 Street
              figcaption(itemprop="caption description") Street
            figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
              a(href="/images/photos/1-150513224519222.jpg" itemprop="contentUrl" data-size="1920x1080")
                img(src="/images/photos/1-150513224519222.jpg" itemprop="thumbnail" alt="Img")
                .intro__company__img(style="background: url(/images/photos/1-150513224519222.jpg);")
              h2 Parking lot
              figcaption(itemprop="caption description") Parking lot
            figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
              a(href="/images/photos/1-151223101KYV.jpg" itemprop="contentUrl" data-size="1920x1080")
                img(src="/images/photos/1-151223101KYV.jpg" itemprop="thumbnail" alt="Img")
                .intro__company__img(style="background: url(/images/photos/1-151223101KYV.jpg);")
              h2 Lobby
              figcaption(itemprop="caption description") Lobby
            figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
              a(href="/images/photos/1-150513221F5209.jpg" itemprop="contentUrl" data-size="1920x1080")
                img(src="/images/photos/1-150513221F5209.jpg" itemprop="thumbnail" alt="Img")
                .intro__company__img(style="background: url(/images/photos/1-150513221F5209.jpg);")
              h2 and more
              figcaption(itemprop="caption description") and more
            figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
              a(href="/images/photos/projects.jpg" itemprop="contentUrl" data-size="1920x1080")
                img(src="/images/photos/projects.jpg" itemprop="thumbnail" alt="Img")
              figcaption(itemprop="caption description") and more
            figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
              a(href="/images/photos/projects.jpg" itemprop="contentUrl" data-size="1920x1080")
                img(src="/images/photos/projects.jpg" itemprop="thumbnail" alt="Img")
              figcaption(itemprop="caption description") and more
      .intro__products
        h2 Our Products
        .pswp(tabindex="-1" role="dialog" aria-hidden="true")
          .pswp__bg
          .pswp__scroll-wrap
            .pswp__container
              .pswp__item
              .pswp__item
              .pswp__item
            .pswp__ui.pswp__ui--hidden
              .pswp__top-bar
                .pswp__counter
                button.pswp__button.pswp__button--close(title="Close (Esc)")
                button.pswp__button.pswp__button--share(title="share")
                button.pswp__button.pswp__button--fs(title="Toggle fullscreen")
                button.pswp__button.pswp__button--zoom(title="Zoom in/out")
                .pswp__preloader
                  .pswp__preloader__icn
                    .pswp__preloader__cut
                      .pswp__preloader__donut
              .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
                .pswp__share-tooltip
              button.pswp__button.pswp__button--arrow--left(title="Previous (arrow left)")
              button.pswp__button.pswp__button--arrow--right(title="Next (arrow right)")
              .pswp__caption
                .pswp__caption__center
        .inner-2
          .intro__product
            .intro__product-gallery(itemscope itemtype="http://schema.org/ImageGallery")
              figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/200w-dlc-ip64-led-corn-light-1.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/200w-dlc-ip64-led-corn-light-1.jpg" itemprop="thumbnail" alt="Img")
                  //- .intro__product__img(style="background: url(/images/photos/Resources-3.jpg)")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/Resources-3.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/Resources-3.jpg" itemprop="thumbnail" alt="Img")
                  //- .intro__product__img(style="background: url(/images/photos/Resources-3.jpg)")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/Resources-3.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/Resources-3.jpg" itemprop="thumbnail" alt="Img")
                  //- .intro__product__img(style="background: url(/images/photos/Resources-3.jpg)")
                figcaption(itemprop="caption description") 123s
            article
              .intro__product__title
                h2 LED Garden Light
              .intro__product__detail
                p Lorem ipsum dolor sit amet consectetur adipisicing elit.
              a(href="#") More
          .intro__product
            .intro__product-gallery(itemscope itemtype="http://schema.org/ImageGallery")
              figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/60w-led-garden-light-01.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/60w-led-garden-light-01.jpg" itemprop="thumbnail" alt="Img")
                  //- .intro__product__img(style="background: url(/images/photos/Resources-3.jpg)")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/Resources-3.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/Resources-3.jpg" itemprop="thumbnail" alt="Img")
                  //- .intro__product__img(style="background: url(/images/photos/Resources-3.jpg)")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/Resources-3.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/Resources-3.jpg" itemprop="thumbnail" alt="Img")
                  //- .intro__product__img(style="background: url(/images/photos/Resources-3.jpg)")
                figcaption(itemprop="caption description") 123s
            article
              .intro__product__title
                h2 LED Corn Light
              .intro__product__detail
                p 123123123
              a(href="#") More
          .intro__product
            .intro__product-gallery(itemscope itemtype="http://schema.org/ImageGallery")
              figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/150W-LED-Street-Light-9.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/150W-LED-Street-Light-9.jpg" itemprop="thumbnail" alt="Img")
                  //- .intro__product__img(style="background: url(/images/photos/Resources-3.jpg)")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/Resources-3.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/Resources-3.jpg" itemprop="thumbnail" alt="Img")
                  //- .intro__product__img(style="background: url(/images/photos/Resources-3.jpg)")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/Resources-3.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/Resources-3.jpg" itemprop="thumbnail" alt="Img")
                  //- .intro__product__img(style="background: url(/images/photos/Resources-3.jpg)")
                figcaption(itemprop="caption description") 123s
            article
              .intro__product__title
                h2 LED Street Light
              .intro__product__detail
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A officiis optio aliquam sit soluta aspernatur voluptatibus?
              a(href="#") More
          //- .intro__product
            .intro__product-gallery(itemscope itemtype="http://schema.org/ImageGallery")
              figure(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/Resources-3.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/Resources-3.jpg" itemprop="thumbnail" alt="Img")
                  //- .intro__product__img(style="background: url(/images/photos/Resources-3.jpg)")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/Resources-3.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/Resources-3.jpg" itemprop="thumbnail" alt="Img")
                  //- .intro__product__img(style="background: url(/images/photos/Resources-3.jpg)")
                figcaption(itemprop="caption description") 123
              figure.figure--hide(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
                a(href="/images/photos/Resources-3.jpg" itemprop="contentUrl" data-size="1000x1000")
                  img(src="/images/photos/Resources-3.jpg" itemprop="thumbnail" alt="Img")
                  //- .intro__product__img(style="background: url(/images/photos/Resources-3.jpg)")
                figcaption(itemprop="caption description") 123s
            article
              .intro__product__title
                h2 More
              .intro__product__detail
                p 123123123
              a(href="#") More

    .quote
      .inner
        p.one "Tech innovation, quality first"
        p.two is always our constant commitment to customers.
