extends layout-news

include mixins/_newsCategoryCard

block content
  .projects__banner
    .banner
  .news-wrapper
    .news
      .news__content
        .new
          h2
            a(href=`/news/${n.type}/${n.slug}`)= n.title
          p
            | Posted on&nbsp;
            | #{n.date.toDateString()}
          #news__article
      .news__categories
        p Categories
        ul
          each t in types
            +newsCategoryCard(t)
