extends layout

include mixins/_newsCard
include mixins/_newsCategoryCard

block content
  .content
    .projects__banner
      .banner
    .news-wrapper
      .news
        .news__content
          each n in news
            +newsCard(n)
        .news__categories
          p Categories
          ul
            each t in types
              +newsCategoryCard(t)
