extends layout

include mixins/_newsCard
include mixins/_newsCategoryCard

block content
  .content
    .news-wrapper
      h2= title
      .news
        .news__content
          each n in news
            +newsCard(n)
        .news__categories
          p Categories
          each t in types
            +newsCategoryCard(t)
