extends layout

include mixins/_productCard

block content
  .content
    .products__banner
    //- p Coming soon...
    //- pre= h.dump(title)
    //- h2= title
    .products
      h2 LED Garden Light
      each product in products.filter(elem => elem.type === 'LED Garden Light')
        +productCard(product)
      h2 LED Corn Light
      each product in products.filter(elem => elem.type === 'LED Corn Light')
        +productCard(product)
      //- h2 LED Street Light
      //- each product in products.filter(elem => elem.type === 'LED Street Light')
        +productCard(product)
