extends layout

include mixins/_productCard

block content
  .content
    .products__banner
    //- p Coming soon...
    //- pre= h.dump(title)
    h2= title
    .products
      each product in products
        +productCard(product)
