extends layout

include mixins/_productCard

block content
  .content
    .products__banner
      .banner
    .products-container
      //- h2 Products
      //- .product-types
        a.product__link(href=`/products` class=(currentPath === '/products' ? 'product__link--active' : ''))
          span.product-type__text All
          span.product-type__count= all
        each t in types
          a.product__link(href=`/products/${t._id}` class=(t._id === type ? 'product__link--active' : ''))
            span.product-type__text= t._id
            span.product-type__count= t.count

      - const garden = products.filter(elem => elem.type === 'LED Garden Light')
      - const corn = products.filter(elem => elem.type === 'LED Corn Light')
      - const retrofit = products.filter(elem => elem.type === 'LED Retrofit Kit')
      - const temporary = products.filter(elem => elem.type === 'LED Temporary Work Light')
      - const smart = products.filter(elem => elem.type === 'Emergency light')
        if garden.length !== 0
          .products
            h2 LED Garden Light
            each product in garden
              +productCard(product)
        if corn.length !== 0
          .products
            h2 LED Corn Light
            each product in corn
              +productCard(product)
        if retrofit.length !== 0
          .products
            h2 LED Retrofit Kit
            each product in retrofit
              +productCard(product)
        if temporary.length !== 0
          .products
            h2 LED Temporary Work Light
            each product in temporary
              +productCard(product)
        if smart.length !== 0
          .products
            h2 Smart LED
            each product in smart
              +productCard(product)

      //- .products
        each product in products
          +productCard(product)
