extends layout

include mixins/_projectCard

block content
  .content
    .inner-2
      h2 #{type || 'Gallery'}
      //- pre= h.dump(types)
      .project-types
        each t in types
          a.project__link(href=`/gallery/${t._id}` class=(t._id === type ? 'project__link--active' : ''))
            span.project-type__text= t._id
            span.project-type__count= t.count
      //- pre= h.dump(projects)
      .pswp(tabindex="-1" role="dialog" aria-hidden="true")
        .pswp__bg
        .pswp__scroll-wrap
          .pswp__container
            .pswp__item
            .pswp__item
            .pswp__item
          .pswp__ui.pswp__ui--hidden
            .pswp__top-bar
              .pswp__counter
              button.pswp__button.pswp__button--close(title="Close (Esc)")
              button.pswp__button.pswp__button--share(title="share")
              button.pswp__button.pswp__button--fs(title="Toggle fullscreen")
              button.pswp__button.pswp__button--zoom(title="Zoom in/out")
              .pswp__preloader
                .pswp__preloader__icn
                  .pswp__preloader__cut
                    .pswp__preloader__donut
            .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
              .pswp__share-tooltip
            button.pswp__button.pswp__button--arrow--left(title="Previous (arrow left)")
            button.pswp__button.pswp__button--arrow--right(title="Next (arrow right)")
            .pswp__caption
              .pswp__caption__center
      .projects
        each project in projects
          +projectCard(project)
