extends layout

block content
  .inner
    form.add__form(action="/register", method="POST")
      h2 Register
      label(for="name") Name
      input#name(type="text" name="name" required)
      label(for="email") Email
      input#email(type="email"  name="email" required)
      label(for="password") Password
      input#password(type="password" name="password" required)
      label(for="password-confirm") Confirm Password
      input#password-confirm(type="password" name="password-confirm" required)
      input.button(type="submit" value="Register →")
