extends layout

include mixins/_pswp
include mixins/_supportBtn

block content
  .content
    //- h2= TRANSLATION.SUPPORT_MSG
    //- p It's #{h.moment().format('MMMM Do YYYY, h:mm:ss a')}
    .projects__banner
      .banner
    .support
      .support__qa
        h2 How to visit us?
        p US warehouse: 13321 Garden Grove Blvd, #N, Garden Grove, CA 92843, USA
        p CN industry: 4/F, Block D, Dejiarun industrial park, 128 indstrial zone, Tangxia, Dongguan, Guangdong Province, P.R.China
      .support__qa
        h2 How to get the samples?
        p.sample Please email us to&nbsp;
          a(href="mailto:order@newsunshine.net") order@newsunshine.net
          | &nbsp;or call us directly&nbsp;
          a(href="tel:+1 201-969-5019") +1 201-969-5019
          | &nbsp;/&nbsp;
          a(href="tel:+1 323-616-7060") +1 323-616-7060
          | , we will send you samples by UPS/Fedex ASAP after you comfirm your payments.
      .support__qa
        h2 How to pay us?
        .support__payment
          p 1. Wire Transfer:
          .support__payment__bank
            p 1. US customer pay to this bank info blw:
            p Bank Name: Chase
            p Account name: New Sunshine  Lighting Inc
            p Account Number: 912500977
            p Wire Routing Transit Number: 322271627 (domestic wire)
            p Bank Address: 9647 Las Tunas Drive, Temple City, CA 91780
          .support__payment__bank
            p 2. BENEFICIARY BANKER:
            p INDUSTRIAL AND COMMERCIAL BANK OF CHINA DONGGUAN BRANCH TANGXIA SUB-BRANCH
            p BENEFICIARY: Dongguan ZhaoPeng Lighting Technology Co., Ltd
            p USD A/C: 2010028709144518371
            p SWIFT CODE: ICBKCNBJGDG
            p ADDRESS: NO.10 HUAYUANXIN STREET TANGXIA TOWN DONGGUAN CHINA
        .support__payment
          p 2. Paypal Account:
          p 13510025749@163.com (US customers pay)
          p robertqin86@163.com (for other countries)
        .support__payment
          p 3. Wester Union:
          p Beneficiary
          p Fore name: Dangui
          p Last Name: Wei
          p Address: 3/F, Building 6th, Jiayiyuan Science&Technology Park, Huaning Rd, Dalang street, Longhua new district, Shenzhen, P.R.China.
