extends layout

block content
  .content
    .inner
      //- h2= TRANSLATION.SUPPORT_MSG
      //- p It's #{h.moment().format('MMMM Do YYYY, h:mm:ss a')}
      .support
        h2 How to visit us?
        p About 30 minutes’ driving from Luohu or Huanggang border (come from Hongkong).
        h2 How to get the samples?
        p Ps email us what items and how many you need. Our teams will send you a PI(Proforma Invoice)for your ref. Normally it takes 3-5 days to prepare samples after we confirm your payments.
        h2 How to pay us?
        ul
          li Paypal account:
            ul
              li robertqin86@163.com
          li Wester Union:
            ul
              li Beneficiary

          li Wire Transfer:

