extends layout

include mixins/_supportBtn

block content
  .content
    //- h2= TRANSLATION.SUPPORT_MSG
    //- p It's #{h.moment().format('MMMM Do YYYY, h:mm:ss a')}
    .support
      .support__QA
        h2 Q&A
        - const value = "true"
        +supportBtn(value)
        .support__QA__details
          .support__qa
            h2 How to visit us?
            p About 30 minutes’ driving from Luohu or Huanggang border (come from Hongkong).
          .support__qa
            h2 How to get the samples?
            p Please email us what items and how many you need. Our team will send you a PI (Proforma Invoice) for your ref. Normally it takes 3-5 days to prepare samples after we confirm your payments.
          .support__qa
            h2 How to pay us?
            .payment__info
              .payment__info--name
                h3 Paypal Account:
              .payment__info--detail
                p robertqin86@163.com
            .payment__info
              .payment__info--name
                h3 Wester Union:
              .payment__info--detail
                h3 Beneficiary:
                .payment__info--detail-l
                  h3 Fore name:
                .payment__info--detail-r
                  p Dangui
      .support__certificates
        h2 Certificates
        +supportBtn()
        .support__certificates__details
          .support__certificate
            h2 USA Patents
            +supportBtn()
            .support__certificate__detail
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti illum, sunt, enim reprehenderit alias assumenda, veniam dolorem sed numquam tenetur natus. Facilis delectus explicabo quis esse magni sunt amet tenetur.
          .support__certificate
            h2 USA Patents
            +supportBtn()
            .support__certificate__detail
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti illum, sunt, enim reprehenderit alias assumenda, veniam dolorem sed numquam tenetur natus. Facilis delectus explicabo quis esse magni sunt amet tenetur.

