extends layout

block content
  .content
    //- .support__banner
      .banner
    .team-wrapper
      h2= title
      .team
        .member
          .member__img
            img(src="/images/photos/news1.jpg", alt="new")
          h2 Robert
          h3 Operation Manager
          .member__contact
            p Skype: newsunshine86
            p Email: robert@nssled.com
            p Tel: +1 201 969 5019
        .member
          .member__img
            img(src="/images/photos/news1.jpg", alt="new")
          h2 Lyna
          h3 Sales Manager
          .member__contact
            p Skype: newsunshine06
            p Email: order@newsunshine.net
            p Tel: +1 323-616-7060
        .member
          .member__img
            img(src="/images/photos/news1.jpg", alt="new")
          h2 Selia
          h3 Seller
          .member__contact
            p Skype: newsunshine02
            p Email: sales02@newsunshine.net
            p Tel: +1 323-542-8021
        .member
          .member__img
            img(src="/images/photos/news1.jpg", alt="new")
          h2 Jacky
          h3 Seller
          .member__contact
            p Skype: newsunshineled
            p Email: sales01@newsunshine.net
            p Tel: +1 323-551-7323
        .member
          .member__img
            img(src="/images/photos/news1.jpg", alt="new")
          h2 Vincy
          h3 Seller
          .member__contact
            p Skype: newsunshine14
            p Email: sales03@newsunshine.net
            p Tel: +1 323-551-7323
        .member
          .member__img
            img(src="/images/photos/news1.jpg", alt="new")
          h2 Dylan
          h3 Seller
          .member__contact
            p Skype: newsunshine17@hotmail.com
            p Email: sales04@newsunshine.net
            p Tel: +1 323-542-8021
        .member
          .member__img
            img(src="/images/photos/news1.jpg", alt="new")
          h2 Winnie
          h3 Seller
          .member__contact
            p Skype: sales05@newsunshine.net
            p Email: sales05@newsunshine.net
            p Tel: +1 323-551-7323
