extends layout

block content
  .content
    .support__banner
      .banner
    .team-wrapper
      h2= title
      .team
        .member
          .member__img
            img(src="/images/photos/news1.jpg", alt="new")
          h2 Robert
          h3 Manager
          .member__contact
            p Email: robert@nssled.com
            p Tel: +1 201 969 5019
        .member
          .member__img
            img(src="/images/photos/news1.jpg", alt="new")
          h2 Robert
          h3 Manager
          .member__contact
            p Email: robert@nssled.com
            p Tel: +1 201 969 5019
        .member
          .member__img
            img(src="/images/photos/news1.jpg", alt="new")
          h2 Robert
          h3 Manager
          .member__contact
            p Email: robert@nssled.com
            p Tel: +1 201 969 5019
        .member
          .member__img
            img(src="/images/photos/news1.jpg", alt="new")
          h2 Robert
          h3 Manager
          .member__contact
            p Email: robert@nssled.com
            p Tel: +1 201 969 5019
        .member
          .member__img
            img(src="/images/photos/news1.jpg", alt="new")
          h2 Robert
          h3 Manager
          .member__contact
            p Email: robert@nssled.com
            p Tel: +1 201 969 5019
        .member
          .member__img
            img(src="/images/photos/news1.jpg", alt="new")
          h2 Robert
          h3 Manager
          .member__contact
            p Email: robert@nssled.com
            p Tel: +1 201 969 5019
        .member
          .member__img
            img(src="/images/photos/news1.jpg", alt="new")
          h2 Robert
          h3 Manager
          .member__contact
            p Email: robert@nssled.com
            p Tel: +1 201 969 5019
