@require './_variables.styl'

.add
  &__form
    padding 2rem 0
    display grid
    grid-template-columns 1fr
    grid-gap 2rem
    font-size 1.8rem
    h2
      text-transform uppercase
    input
      font-size 1.6rem
      padding 1rem
      border 1px solid #d8d8d8
    span
      font-size 1.2rem
      background $orange
      padding 2px
      border-radius 8px
    .types
      display grid
      grid-template-columns 1fr
    .type
      display grid
      grid-template-columns 2rem 1fr
      align-items center
      font-size 1.6rem
    img
      width 20rem
    .button
      background $orange
      border none
      text-transform uppercase
      font-weight 600
