@require './_variables.styl'

.language__wrapper
  padding-top 1rem
  background black
  display grid
  grid-template-columns repeat(10, 1fr)
  .language
    grid-column -3 / -1
    font-size 1.4rem
    padding 1rem 0
