header
  z-index 49
  // padding 1rem 2rem
  background $orange
  color white
  display grid !important
  grid-template-columns 1fr
  // grid-template-rows auto 1fr
  justify-content center
  // justify-items center
  align-items center

.top
  // padding 1rem 0
  height 5rem
  background #f7ecdd
  display grid
  grid-template-columns repeat(10, 1fr)
  align-items center
  &__logo
    .mobile
      display none
    grid-column 3 / span 2
    a
      display flex
      align-items center
  .user
    grid-column 5 / -3
    justify-self flex-end
    > *
      padding 0 .5rem
  .language
    padding-left 2rem
    grid-column-start -3
    &--active
      color $orange !important
    span
      color #b3b3b3
  a
    color #000
    text-decoration none
    font-size 1.2rem

@media (max-width: 1000px)
  .top
    height 5.5rem
    &__logo
      grid-column 3 / span 3
    .user
      grid-column 6 / -3


@media (max-width: 800px)
  .top
    &__logo
      grid-column 2 / span 3
    .user
      grid-column 5 / -3

@media (max-width: 600px)
  .top
    &__logo
      img
        display none
      .mobile
        display block
        height 5rem
