#top
  padding 1rem 0
  background black
  display grid
  grid-template-columns 4fr 1fr
  grid-gap .5rem
  .user
    justify-self flex-end
    > *
      padding 0 .5rem
  .language
    &--active
      color $orange !important
    span
      color #b3b3b3
  a
    color white
    text-decoration none
    font-size 1.2rem

header
  z-index 49
  // padding 1rem 2rem
  background black
  color white
  display grid !important
  grid-template-rows auto 1fr
  justify-content center
  align-items center

.header--logo
  justify-self center
  width 10rem

@media (max-width: 1100px)
  .header--logo
    width 7rem

@media (max-width: 800px)
  .header--logo
    justify-self flex-start
    margin-left 1.5rem
  header
    grid-template-columns 1fr 1fr
  .language-wrapper
    .language
      padding 5px 5px
