body
  position relative
  &.nav-fixed .nav
    position fixed
    width 100%
    top 0
    .nav__section--logo
      display block
    .nav
      justify-self flex-end
  &.rb--hide .rb__btn
    transform translateY(500%)
    opacity .5

.pswp__bg
  opacity .5 !important

.banner
  background rgba(0, 0, 0, .3)
  height 30rem

.content
  // padding 5rem 0
  background $light
  background #fff
  .quote
    background #444
    text-align center
    padding 5rem 0
    color white
    p
      font-size 2rem
      line-height 1.5
      margin 0
    p.one
      font-style italic
      text-transform uppercase
      font-size 3.5rem

.inner, .inner-2
  max-width 900px
  margin 0 auto
  padding 3rem 5rem
  min-height 600px

.inner-2
  max-width 1200px

.rb
  z-index 95
  position fixed
  right 3rem
  bottom 8rem
  height 16rem
  display grid
  grid-template-columns 1fr
  grid-gap 5px
  align-content flex-end
  &__btn
    background $orange
    outline none
    border none
    width 5rem
    height 5rem
    font-size 2.5rem
    color darken(white, 10%)
    cursor pointer
    transition all .5s ease-out
    opacity .7
    &:hover
      opacity 1

.user
  &__admin
    position fixed
    top 20%
    right 5%
    z-index 100
    display flex
    flex-direction column
    a
      padding 5px 10px
      background $orange
      color #fff

@media (max-width: 800px)
  body
    &.nav-fixed header
      position fixed
      width 100%
      top 0
      .nav
        position unset
      .nav__section
        &--logo
          display none !important
  .rb
    height 10rem
    bottom 3rem
    right 1.5rem
    &__btn
      width 3rem
      height 3rem
      font-size 1.5rem
  .content
    padding 0
    .quote
      p
        font-size 1.6rem
      p.one
        font-size 3rem
  .banner
    height 15rem
