.map
  border 1px solid #ccc
  padding 1rem
  #map, #map-2
    width 100%
    height 30rem
    background #eee
    display flex
    flex-direction column
    justify-content center
    align-items center
    > p
      text-align center
      // padding-top 5rem
      font-size 2rem
      svg
        font-size 5rem
        color $orange
    .popup
      width 20rem
      p
        font-size 1.6rem
        margin-top 0
        margin-bottom .5rem

@media (max-width: 800px)
  #map
    height 35rem !important
    .popup
      width 10rem !important
      p
        font-size 1.2rem !important
