.news
  display flex
  &-wrapper
    max-width 1000px
    margin 0 auto
    padding 3rem 2rem
  &__content
    flex 4
    margin-right 4rem
  &__categories
    flex 1
    text-transform uppercase
    p
      font-size 2rem
      background #cecece
      font-style italic
      color #fff
      padding 1rem
      letter-spacing 1px
    ul
      padding-left 1rem
    li
      list-style none
      padding .5rem 1rem
      margin .5rem 0
      font-size 1.8rem
      &:hover
        background $orange
        a
          color #fff
  &__active
    background $orange !important
    font-style italic
    // color #fff !important
    a
      color #fff !important
      // color $orange !important

.new
  margin-bottom 5rem
  h2
    text-align left
    font-weight normal
    a
      font-size 2.8rem
      &:hover
        text-decoration underline
        color $orange
  p
    font-size 1.4rem

#news__article
  margin-top 4rem
  p
    font-size 1.6rem
    letter-spacing 1px
  h1, h2, h3, h4, h5, h6
    font-weight bold
    padding-top 2rem
  h1
    font-size 2.2rem
  h2
    font-size 2rem
  h3
    font-size 1.8rem
  h4
    font-size 1.6rem