// tags
.project
  &-types
    grid-column 1 / -1
    margin 3rem 0
    display grid
    grid-template-columns repeat(auto-fill, minmax(15rem, 1fr))
  &__link
    display grid
    grid-template-columns 1fr 2rem
    grid-gap 2rem
    font-size 1.8rem
    text-decoration none
    color #3a3a3a
    // background white
    border 1px solid #d8d8d8
    padding .5rem 1rem
    transition all .2s ease-out
    &:hover, &--active
      background $orange
      color white

.gallery
  @extend .inner-2
  padding 5rem 2rem

.projects
  display grid
  // grid-template-columns repeat(4, 1fr)
  grid-template-columns repeat(auto-fit, minmax(25rem, 1fr))
  grid-gap 4rem 2rem
  &__banner
    height 30rem
    background: url(/images/photos/projects.jpg) center 67%
  .project
    position relative
    // outline 1px solid $orange
    background #fff
    // height 50rem
    position relative
    top 0
    text-decoration none
    color #444
    box-shadow 0 2px 5px rgba(0, 0, 0, .1)
    display flex
    flex-direction column
    &:hover
      top -2px
      box-shadow 0 4px 5px rgba(0, 0, 0, .2)
    &-gallery
      figure
        margin 0
        &.figure--hide, img, figcaption
          display none
    &__img
      height 35rem
      background-size cover
      background-repeat no-repeat
      background-position center center
    // article
    //   flex 1
    //   display flex
    //   padding 2rem
    //   flex-direction column
    //   justify-content space-between
    //   p
    //     flex 1
    // h2
    //   text-align left
    //   font-size 2rem
    &__edit
      width 3rem
      // align-self center
      position absolute
      top 1rem
      right 1rem
      z-index 99
    // &__type
    //   text-transform uppercase
    //   color #999
    //   font-size 1.2rem
    //   font-weight 600
    //   letter-spacing .1rem

// @media (max-width: 1200px)
//   .projects
//     grid-template-columns 1fr

// @media (max-width: 800px)
//   .projects
//     grid-template-columns 1fr
