.support
  max-width 1000px
  padding 0 5rem
  margin 0 auto
  display grid
  grid-template-columns 1fr
  grid-gap 2rem

  // button
  button[aria-controls="support-list"]
    background white
    color $orange
    width 3rem
    height 3rem
    font-size 3rem
    padding 0
    border 0
    outline 0
  // hide content
  button[aria-expanded="false"]
    > .close
      display none
    > .open
      display block
    & ~ *
      display none
  // display content
  button[aria-expanded="true"]
    > .close
      display block
    > .open
      display none
    & ~ *
      display grid

  &__QA, &__FB, &__certificates
    display grid
    grid-template-columns auto 1fr
    align-items center
    > h2
      font-size 2.5rem
      color $orange
    &__details
      // background #eee
      grid-column 1 / -1
      padding 1rem 2rem
      grid-template-columns 1fr
      grid-gap 1rem

  &__qa, &__fb, &__certificate
    h2
      font-size 1.8rem
      text-align left
      text-transform uppercase
    h3
      font-size 1.6rem
      text-align left
      font-weight 500
    p
      font-size 1.5rem
  &__qa:nth-child(3)
    display grid
    grid-template-columns auto 1fr
    align-items center
    .payment__info
      grid-column 1 / -1

  .payment__info
    margin-bottom 2rem
    display grid
    grid-template-columns 1fr 4fr
    grid-gap 1.5rem
    align-items center
    h3, p
      margin 0
    &--name
      justify-self flex-end
    &--detail
      display grid
      grid-template-columns 1fr 3fr
      grid-gap 1rem 2rem
      > h3
        grid-column 1 / -1
        justify-self center
      &-l
        h3
          text-align right
      &-r
        display flex
        align-items center

  // &__certificate
  //   display grid
  //   grid-template-columns auto 1fr
  //   align-items center
  //   h2
  //     display flex
  //     align-items center
  //   &__edit
  //     width 3rem
  //   button[aria-controls="support-list"]
  //     width 2.4rem
  //     height 2.4rem
  //     font-size 2.2rem
  //   &-gallery
  //     grid-column 1 / -1
  //     display grid
  //     grid-template-columns repeat(5, minmax(100px, 1fr))
  //     grid-gap 2rem
  //     figure
  //       margin 0
