.support
  max-width 1000px
  padding 5rem
  margin 0 auto
  display grid
  grid-template-columns 1fr
  grid-gap 2rem
  &__banner
    height 30rem
    background url(/images/photos/support.jpg) center 90%
  &__qa
    h2
      text-align left
      font-size 2.2rem
      color $orange
    p
      letter-spacing 1px
      &.sample
        line-height 1.5
      a
        background $orange
        color #fff
  &__payment
    margin-bottom 4rem
    > :first-child
      font-size 1.8rem
    :first-child
      font-style italic
      font-weight bold
    :not(:first-child)
      padding-left 3rem
    &__bank
      margin-bottom 3rem

@media (max-width: 800px)
  .support
    padding 5rem 2rem
