mixin loginForm()
  form.add__form(action="/login" method="POST")
    h2 Login
    label(for="email") Email
    input#email(type="email" name="email")
    label(for="password") Password
    input#password(type="password" id="password" name="password")
    input.button(type="submit" value="Log In")
