mixin query()
  .query-overlay
  .query-wrapper
    button.query__remove
      i.fas.fa-times
    form.query__form(action="/query" method="POST")
      label(for="name")
        | Name&nbsp;
        span (Required)
      input#name(type="text" name="name" required)
      label(for="email")
        | Email&nbsp;
        span (Required)
      input#email(type="email" name="email" required)
      label(for="phone") Phone
      input#phone(type="text" name="phone")
      label(for="country") Country
      input#country(type="text" name="country")
      label(for="subject") Subject
      input#subject(type="text" name="subject")
      label(for="message")
        | Message&nbsp;
        span (Required)
      textarea#message(name="message", cols="30", rows="10" required)
      //- validate recaptcha on client side
      //- enable submit button only when user pass recaptcha
      //- don't forget to validate it also on server side
      script(src="/javascripts/modules/recaptcha.js")
      .g-recaptcha(data-sitekey=`${process.env.SITE_KEY}` data-callback="recaptchaCallback")
      input.button.query-btn(type="submit" value="Send" disabled="disabled")
