mixin slideshowForm(slideshow = {})
  pre= h.dump(slideshow)
  form.add__form(action=`/add-slideshow/${slideshow._id || ''}` method="POST" enctype="multipart/form-data")
    label(for="name")
      | Name&nbsp;
      span (Required)
    input(type="text" id="name" name="name" value=slideshow.name required)
    label(for="photo") Photo
    input(type="file" id="photo" name="photo" accept="image/gif, image/png, image/jpeg")
    label(for="caption") Caption
    input(type="text" id="caption" name="caption")
    input.button(type="submit" value="Save")
