.about__us {
  h2 {
    text-transform: uppercase;
  }
  & > * {
    margin: 10rem 0;
  }
  &__title {
    h2 {
      text-align: left;
      color: $yellow;
    }
  }
  &__detail {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
  }
  &__logo {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    img {
      justify-self: center;
    }
  }
  &__contact {
    color: $yellow;
    text-decoration: none;
    font-size: 1.5rem;
    margin-top: 5rem;
    display: block;
    span {
      padding-left: 1.5rem;
    }
  }
}

.about__video {
  background: $black;
  padding: 5rem 0;
  &-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .about__us {
    &__detail {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}
