footer {
  display: flex;
  flex-direction: column;
  background: $black-lighter;
  color: $white;
  font-size: 1.5rem;
  .socials {
    height: 400px;
  }
  .contact {
    background: $black;
    // height: 400px;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    & > * {
      padding: 0 20px;
    }
    &__about {
      grid-column-start: 2;
      &__description {
        font-size: 1.6rem;
        text-indent: 2rem;
        line-height: 1.2;
      }
      &__more {
        color: $yellow;
        text-transform: capitalize;
        text-decoration: none;
        span {
          padding-left: 1.5rem;
        }
      }
    }
    &__info > h2, &__email > h2 {
      text-align: center;
      color: $yellow;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 400;
    }
    &__info {
      .divide {
        width: 100%;
        height: 1px;
        background: #4e4e4e;
      }
      p {
        text-align: center;
        font-size: 1.3rem;
       span {
         font-style: italic;
         color: #d8d6d6;
       }
      }
    }
    &__email {
      display: flex;
      flex-direction: column;
      // align-content: center;
      align-items: center;
      button {
        outline: none;
        color: $white;
        background: $black;
        border: 1px $white solid;
        border-radius: .5rem;
        padding: 1.2rem 2rem;
        margin: 2rem 0;
        font-size: 1.2rem;
        font-style: italic;
        text-transform: uppercase;
        letter-spacing: .1rem;
        transition: all .5s ease;
        &:hover {
          background: $yellow;
          // color: $black;
        }
      }
    }
  }
  .copyright {
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    p {
      grid-column: 3 / -1;
      color: $yellow;
      span {
        color: $white;
      }
    }
  }
}

@media (max-width: 1200px) {
  .contact {
    grid-template-columns: repeat(3, 1fr) !important;
    &__about {
      grid-column-start: 1 !important;
    }
  }
}

@media (max-width: 800px) {
  .contact {
    grid-template-columns: 1fr !important;
    & > * {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      justify-items: center;
      & > * {
        grid-column-start: 2;
      }
    }
  }
}