.content {
  .slideshow {
    // z-index: -1;
    max-width: 100%;
    position: relative;
    &:hover .dots {
      opacity: 1 !important;
    }
    .slide {
      display: none;
      position: relative;
      transition: all .5s ease-in-out;
      img {
        width: 100%;
        background-size: cover;
      }
      &__caption {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        padding: 1rem;
        font-size: 1.2rem;
        background: $grey;
        color: lighten($black, 70%);
      }
      &--show {
        display: block !important;
      }
    }
    .prev, .next {
      position: absolute;
      top: calc(50% - 50px);
      font-size: 5rem;
      padding: 0 3rem;
      border-radius: 1rem;
      height: 100px;
      color: $white;
      background: rgba(150, 120, 120, .15);
      display: flex;
      align-items: center;
      &:hover {
        background: rgba(150, 120, 120, .3);
      }
    }
    .prev {
      left: 0;
      border-radius: 0 .5rem .5rem 0;
    }
    .next {
      right: 0;
      border-radius: .5rem 0 0 .5rem;
    }
    .dots {
      width: 150px;
      position: absolute;
      bottom: 1rem;
      left: calc(50% - 75px);
      display: grid;
      grid-template-columns: repeat(5, 3rem);
      opacity: 0;
      transition: all .5s ease-in-out;
      .dot {
        background: $white;
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        transition: all .5s ease-out;
        &--active, &:hover {
          background: #898686;
        }
      }
    }

    @keyframes fade {
      from {
        opacity: 0.8;
      }
      to {
        opacity: 1;
      }
    }
    .fade {
      animation: fade 3s;
    }
  }
}