@font-face {
  font-family: 'tienne';
  src: url('/fonts/tienne.regular.ttf') format('truetype');
  src: url('/fonts/tienne.bold.ttf') format('truetype');
  font-weight: 400;
}

html {
  font-family: 'tienne', 'sans-serif';
  font-size: 62.5%;
}

pre {
  font-size: 1.2rem;
}

.pswp {
  font-family: 'sans-serif';
}
