.language__wrapper {
  padding-top: 1rem;
  background: $black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  .language {
    grid-column: -3 / -1;
    font-size: 1.4rem;
    padding: 1rem 0;
    &--active {
      color: $yellow !important;
    }
    a {
      color: $white;
      text-decoration: none;
    }
    span {
      color: lighten($black, 70%);
    }
  }
}

.logo {
  display: none;

  &-s {
    display: block;
    width: 10rem;
    margin-bottom: 2rem;
  }
}

header {
  z-index: 49;
  padding: 1rem 2rem;
  background: black;
  color: white;
  // box-shadow: 0 5px 10px rgba(37, 37, 37, .3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1100px) {
  .logo {
    display: none;
  }
  .logo-s {
    display: block;
    width: 7rem;
  }
}

@media (max-width: 800px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
  .language__wrapper {
    .language {
      padding: .5rem .5rem;
    }
  }
  .logo {
    &-s {
      margin-bottom: 0;
    }
  }
}
